<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>姓名案例_watch实现</title>
    <!-- 引入vue.js文件 -->
    <script type="text/javascript" src="../../../../../js/vue.js"></script>
</head>
<body>
<!--
    computed与watch之间的区别：
        1. computed能完成的功能，watch都可以完成。
        2. watch能完成的内容，computed不一定能完成。例如：watch可以进行异步操作。
    两个重要的小原则：
        1. 所被Vue管理的函数，最好写成普通函数，这样this的指向才是vm 或者 组件实例对象。
        2. 所有不被Vue管理的函数(定时器的回调函数、ajax的回调函数、Promise的回调函数)。
           最好写成箭头函数，这样的this的指向才是vm或组件实例对象。
-->
<div id="root">
    姓：<input type="text" v-model="firstName"><br/><br/>
    名：<input type="text" v-model="lastName"><br/><br/>
    全名：<span>{{fullName}}</span>
</div>

<script>
    Vue.config.productionTip = false;

    <!--声明一个Vue实列-->
    const vm = new Vue({
        el: "#root",
        /* Vue中认为data中的数据就是属性 */
        data: {
            firstName: '张',
            lastName: '三',
            fullName:'张-三'
        },
        watch:{
            /* 使用简写的形式 */
            firstName(newValue){
                /*
                * 如果这里使用普通函数的方式，this会指向windows，就不能使用 this.lastName来获取名
                *
                * 这里只能使用箭头函数，让他指向 Vue实列对象。
                * */
                setTimeout(()=>{
                    console.log(this);
                    this.fullName = newValue + this.lastName;
                },1000);
            },
            lastName(newValue){
                this.fullName = this.firstName + newValue;
            }
        }
    });
</script>
</body>
</html>